<nav>
    <img src="/images/funda-blue.svg" alt="Funda logo">
    <button id="menu-btn"></button>
    <ul id="menu-content">
        <li><a href="#"><box-icon name='home-alt-2' ></box-icon>Favorieten</a></li>
        <li><a href="#"><box-icon name='user' ></box-icon>inloggen</a></li>
    </ul>
</nav>